@charset "utf-8";

@import '../common/css/base/var';
@import '../common/css/module/button';

/* loading
-------------------------------------------------------------------------------------------------------------------- */

#logo_loading {
	position: relative;
}
.loadingOver {
	animation: moveTop 0.5s forwards;
}
@keyframes moveTop {
	100% {
		top: -999px;
	}
}
#loading {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: center top #fff;
	@include bgi('../common/img/bg_wrapper.png');
	background-size: 1800px auto;
	z-index: 999;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	> .container {
		display: flex;
		flex-direction: column;
		align-items: center;
		> .logo {
			display: flex;
			align-items: center;
			gap: 13.5px;
			flex: 0 0 auto;
			top: 50%;
			transform: translateY(-50%);
			position: relative;
			& picture {
				&:nth-child(1) {
					width: 65.5px;
					animation: pulse 1s linear infinite alternate;
				}
				&:nth-child(2) {
					width: 338.5px;
					animation: pulse 1s linear 0.1s infinite alternate;
				}
			}
		}
	}

	@include sp {
		background-size: 750px auto;

		> .container {
			> .logo {
				img {
					width: 500px;
					height: auto;
				}
			}
			> .progress {
				margin-top: 40px;
				width: 450px;
				height: 8px;
			}
		}
	}
	@keyframes pulse {
		from,
		30% {
			opacity: 0;
			transform: translateY(0);
		}
		50% {
			opacity: 0.5;
			transform: translateY(-15px);
		}
		80%,
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}
}

/* common override
-------------------------------------------------------------------------------------------------------------------- */

/* Main Visual
-------------------------------------------------------------------------------------------------------------------- */
#mainVisual {
	position: relative;
	width: 100%;
	height: 100vh;
	.bg {
		position: absolute;
		object-fit: cover;
		width: 100%;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		& img {
			width: 100%;
			max-width: 100%;
			height: 100%;
		}
	}
	.deco {
		display: flex;
		justify-content: center;
		> span {
			display: inline-block;
			position: absolute;
			top: 0;
			z-index: 9;
			&:nth-child(1) {
				top: 19px;
				left: 461px;
			}
			&:nth-child(2) {
				top: 697px;
				right: 259px;
				max-height: 143px;
			}
			&:nth-child(3) {
				top: 136px;
				left: 638px;
				z-index: 1;
			}
			&:nth-child(4) {
				top: 0;
				left: 368px;
			}
			&:nth-child(5) {
				top: 53px;
				left: 872px;
			}
			&:nth-child(6) {
				top: 115px;
				left: 716px;
			}
			&:nth-child(7) {
				top: 276px;
				left: 698px;
			}
			&:nth-child(8) {
				top: 220px;
				right: 648px;
			}
			&:nth-child(9) {
				top: 373px;
				right: 572px;
			}
			&:nth-child(10) {
				top: 697px;
				left: 767px;
			}
			&:nth-child(11) {
				top: 682px;
				right: 778px;
			}
		}
	}
	.deco_a {
		animation: jumpDeco 0.55s forwards;
		animation-delay: 0.75s;
		opacity: 0;
	}
	.deco_b {
		&:nth-child(1) {
			animation: moveRightDeco 1.25s forwards ease-in-out;
			animation-delay: 1s;
			opacity: 0;
		}
		&:nth-child(2) {
			animation: moveRightDeco 1.25s forwards ease-in-out;
			animation-delay: 1s;
			opacity: 0;
		}
	}
	> .pic {
		> .slide {
			position: relative;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			z-index: 1;
			> li {
				position: absolute;
				max-width: 100% !important;
				&:nth-child(1) {
					top: 110px;
					left: 25px;
				}
				&:nth-child(2) {
					top: 110px;
					right: 200px;
				}
				&:nth-child(3) {
					top: 515px;
					right: 465px;
				}
				&:nth-child(4) {
					top: 460px;
					right: 50px;
				}
			}
		}
	}
	> .btn_contact01 {
		position: absolute;
		z-index: 8;
		width: 170px;
		height: 170px;
		top: -20px;
		right: 186px;
		border-radius: 50%;
		background-color: #5ccfe6;
		border: 2px solid #23aac5;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		cursor: pointer;
		animation: jumpBtn 0.55s forwards;
		animation-delay: 0.75s;
		opacity: 0;
		> a {
			text-decoration: none;
			& img {
				padding: 13px 0 0;
			}
			& p {
				@include webfont-ja01;
				color: #381c01;
				font-size: 1.125rem;
				line-height: 1.5;
			}
		}
	}
	> .container {
		width: rem(2240);
		margin: 0 auto;
		height: 100%;
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: column;
		> .title {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			position: relative;
			top: 123px;
			> span {
				display: block;
				overflow: hidden;
				z-index: 10;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				&:nth-child(1) {
					top: 0;
					animation: moveLeft 0.45s forwards;
					animation-delay: 1s;
					opacity: 0;
				}
				&:nth-child(2) {
					animation: jump 0.55s forwards;
					animation-delay: 0.75s;
					opacity: 0;
					top: 81px;
				}
				&:nth-child(3) {
					animation: jump 0.55s forwards;
					animation-delay: 0.75s;
					opacity: 0;
					top: 181px;
				}
			}
		}
		> .subtitle {
			position: absolute;
			left: 50%;
			top: 472px;
			transform: translateX(-50%);
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			animation: moveLeft 0.45s forwards;
			animation-delay: 1s;
			opacity: 0;
			z-index: 10;
			> p {
				@include webfont-ja01;
				font-size: 2rem;
				color: #ffffff;
				height: 55px;
				background-color: #87c022;
				display: flex;
				align-items: center;
				padding: 0 24px;
				letter-spacing: 0.05rem;
				&:nth-child(1) {
					margin: 0 0 15px;
				}
			}
			> span {
				@include webfont-en02;
				font-size: 0.813rem;
				text-transform: uppercase;
				color: #049c34;
				margin: 12px 0 0;
				letter-spacing: 0.052rem;
			}
		}
		@at-root #scrollDown {
			position: absolute;
			display: block;
			left: 50%;
			bottom: 64px;
			transform: translateX(-50%) !important;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
			text-decoration: none;
			z-index: 9;
			> p {
				position: absolute;
				@include webfont-en02;
				letter-spacing: 3.2px;
				font-size: 1.125rem;
				color: #e86004;
				top: -105px;
				left: 50%;
				transform: translateX(-49%);
				animation: fadeIn 1s forwards;
				animation-delay: 1.15s;
				opacity: 0;
			}
			> span {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				&:nth-child(2) {
					width: 24px;
					top: -67px;
					animation: fadeIn 1s forwards;
					animation-delay: 1.35s;
					opacity: 0;
				}
				&:nth-child(3) {
					width: 12px;
					top: -29px;
					animation: fadeIn 1s forwards;
					animation-delay: 1.65s;
					opacity: 0;
				}
				&:nth-child(4) {
					width: 12px;
					top: -40px;
					animation: fadeIn 1s forwards;
					animation-delay: 1.55s;
					opacity: 0;
				}
				&:nth-child(5) {
					width: 12px;
					top: -51px;
					animation: fadeIn 1s forwards;
					animation-delay: 1.45s;
					opacity: 0;
				}
			}
		}
	}
	@keyframes jump {
		0% {
			opacity: 1;
			transform: translate(-50%, -500px);
		}
		50% {
			opacity: 1;
			transform: translate(-50%, 30px);
		}
		80% {
			opacity: 1;
			transform: translate(-50%, -30px);
		}
		100% {
			opacity: 1;
			transform: translate(-50%, 0);
		}
	}
	@keyframes jumpBtn {
		0% {
			opacity: 1;
			transform: translateY(-500px);
		}
		50% {
			opacity: 1;
			transform: translateY(30px);
		}
		80% {
			opacity: 1;
			transform: translateY(-30px);
		}
		100% {
			opacity: 1;
			transform: translateY(0);
		}
	}
	@keyframes jumpDeco {
		0% {
			opacity: 1;
			transform: translate(0, -500px);
		}
		50% {
			opacity: 1;
			transform: translate(0, 30px);
		}
		80% {
			opacity: 1;
			transform: translate(0, -30px);
		}
		100% {
			opacity: 1;
			transform: translate(0, 0);
		}
	}
	@keyframes moveLeft {
		0% {
			opacity: 0;
			transform: translateX(-250%);
		}
		100% {
			opacity: 1;
			transform: translateX(-50%);
		}
	}
	@keyframes moveLeftDeco {
		0% {
			opacity: 0;
			transform: translateX(-100%);
		}
		100% {
			opacity: 1;
			transform: translateX(0);
		}
	}
	@keyframes moveRightDeco {
		0% {
			opacity: 0;
			transform: translateX(100%);
		}
		100% {
			opacity: 1;
			transform: translateX(0);
		}
	}
	@keyframes scrollDownBar {
		0% {
			bottom: 45px;
			height: 0;
		}

		50% {
			bottom: 0;
			height: 45px;
		}

		100% {
			height: 0;
		}
	}
	@keyframes fadeIn {
		100% {
			opacity: 1;
		}
	}
	@include sp {
		> .bg {
			& img {
				height: auto;
			}
		}
		> .pic {
			> .slide {
				> li {
					&:nth-child(1) {
						width: rem(1320);
						top: rem(220);
						left: rem(50);
					}
					&:nth-child(2) {
						width: rem(920);
						top: rem(220);
						right: rem(400);
					}
					&:nth-child(3) {
						width: rem(580);
						top: rem(1030);
						right: rem(930);
					}
					&:nth-child(4) {
						width: rem(750);
						top: rem(920);
						right: rem(100);
					}
				}
			}
		}
		> .btn_contact01 {
			display: none;
		}
		> .container {
			width: rem(670);
			> .title {
				top: 416px;
				margin-left: -263px;

				> span {
					&:nth-child(2) {
						left: 2px;
						top: 91px;
					}

					&:nth-child(3) {
						left: 49px;
						top: 230px;
					}

					&:nth-child(4) {
						left: 57px;
						top: 284px;
					}

					&:nth-child(5) {
						left: 54px;
						top: 344px;
					}
				}
			}

			> .pic {
				> li {
					&:nth-child(1) {
						left: 0;
						top: 553px;
					}

					&:nth-child(2) {
						left: 210px;
						top: 0;
					}
				}
			}

			> .deco {
				> span {
					&:nth-child(1) {
						left: 0;
						top: 23px;
					}

					&:nth-child(2) {
						right: 0;
						top: 753px;
					}
				}
			}

			> .bg {
				> span {
					&:nth-child(1) {
						left: 0;
						top: 612px;
					}

					&:nth-child(2) {
						right: 0;
						top: 355px;
					}
				}
			}
		}
	}
}

/* before animation */
// #mainVisual {
// 	> .container {
// 		> .title {
// 			> span {
// 				overflow: hidden;
// 				max-width: 0;
// 			}
// 		}

// 		> .pic {
// 			> .slide {
// 				> li {
// 					max-width: 0;
// 					overflow: hidden;
// 				}
// 			}
// 		}

// 		> .deco {
// 			> span {
// 				opacity: 0;
// 			}
// 		}

// 		> .bg {
// 			> span {
// 				&:nth-child(1) {
// 					transform: translate(-200px, 64px);
// 				}

// 				&:nth-child(2) {
// 					transform: translate(-200px, -64px);
// 				}
// 			}
// 		}

// 		@at-root #scrollDown {
// 			opacity: 0;
// 		}
// 	}
// }
/* feature
-------------------------------------------------------------------------------------------------------------------- */
#feature {
	position: relative;
	padding-top: 220px;
	> .bg {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	> .container {
		width: 1300px;
		margin: 0 auto;
		background-color: #fffbd2;
		position: relative;
		z-index: 2;
		padding: 0px 110px 60px;
		&:before {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: -165px;
			border-style: solid;
			border-width: 0 650px 165px;
			border-color: transparent transparent #fffbd2;
			z-index: -1;
		}
		> .title {
			display: inline-block;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 3;
			width: 100%;
			> span {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				&:nth-child(1) {
					top: -178px;
				}
				&:nth-child(2) {
					top: -92px;
				}
			}
		}
		> .deco {
			display: inline-block;
			z-index: 2;
			> span {
				position: absolute;
				&:nth-child(1) {
					top: -108px;
					left: 50%;
					transform: translateX(-50.5%);
				}
				&:nth-child(2) {
					top: -184px;
					right: 250px;
				}
				&:nth-child(3) {
					top: -144px;
					left: 281px;
				}
				&:nth-child(4) {
					top: 166px;
					left: -100px;
				}
				&:nth-child(5) {
					top: 250px;
					right: -137px;
				}
				&:nth-child(6) {
					left: -125px;
					top: 422px;
				}
				&:nth-child(7) {
					top: 396px;
					right: -110px;
				}
				&:nth-child(8) {
					top: 450px;
					left: -310px;
					z-index: -1;
				}
				&:nth-child(9) {
					top: 450px;
					right: -310px;
					z-index: -1;
				}
				&:nth-child(10) {
					top: -220px;
					left: -310px;
					z-index: 5;
				}
				&:nth-child(11) {
					top: -220px;
					right: -310px;
					z-index: 5;
				}
			}
		}
		> .list {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-around;
			list-style: none;
			position: relative;
			z-index: 4;
			text-align: center;
			> li {
				width: 225px;
				display: flex;
				flex-direction: column;
				align-items: center;
				margin: -2px 2px 0 0;
				> span {
					width: 100%;
					margin-bottom: 12px;
				}
				> h4 {
					font-size: 1.313rem;
					line-height: 1.429;
					text-align: center;
					margin-bottom: 6px;
				}
				> p {
					line-height: 1;
					font-weight: bold;
					letter-spacing: 0.086rem;
					font-size: 0.75rem;
				}
				&:nth-child(1) {
					> h4 {
						color: #f46f5d;
					}
					> p {
						color: #f79a8e;
					}
				}
				&:nth-child(2) {
					> h4 {
						color: #4a93dd;
					}
					> p {
						color: #81b4e5;
					}
				}
				&:nth-child(3) {
					> h4 {
						color: #f7a619;
					}
					> p {
						color: #f9c15e;
					}
				}
				&:nth-child(4) {
					> h4 {
						color: #87c022;
					}
					> p {
						color: #a3cd62;
					}
				}
			}
		}
		> .text {
			text-align: center;
			margin-top: 76px;
			font-size: 1rem;
			color: #000000;
			z-index: 4;
		}
	}

	@include sp {
		padding: 149px 35px 70px;
		background-color: #dbf1e3;

		&:before {
			display: none;
		}

		> .container {
			width: auto;
			padding: 232px 40px 93px;
			margin-bottom: 80px;

			&:before {
				top: -70px;
				border-width: 0 340px 70px;
			}

			> .title {
				top: 39px;

				> span {
					&.en {
						font-size: 82px;
						margin-bottom: 10px;
					}

					&.ja {
						font-size: 30px;
					}
				}
			}

			> .list {
				display: block;

				> li {
					width: auto;
					margin-left: 0;

					&:nth-child(n + 2) {
						margin-top: 131px;
					}

					> figure {
						text-align: center;
					}

					> .num {
						top: 267px;
						margin-left: -45px;
						width: 90px;
						height: 90px;
						font-size: 48px;
						padding-top: 13px;

						&:before {
							left: 18px;
							right: 18px;
							bottom: 23px;
							height: 2px;
						}
					}

					> .txt {
						padding-top: 31px;

						> h4 {
							font-size: 34px;
							line-height: 1.5883;
							letter-spacing: 0.15em;
							height: 158px;
						}

						> .box {
							padding: 39px 40px 44px;
							margin-top: 35px;

							> h5 {
								font-size: 30px;
								margin: 31px 0 9px;

								&:first-child {
									margin-top: 0;
								}
							}

							> p {
								font-size: 26px;
							}
						}
					}
				}
			}
		}
	}
}

/* feature02
-------------------------------------------------------------------------------------------------------------------- */
#feature02 {
	width: 100%;
	margin-bottom: rem(200);
	position: relative;
	margin: rem(88) 0 0;
	z-index: 4;
	> .deco {
		position: absolute;
		width: 100%;
		> span {
			position: absolute;
			&:nth-child(1) {
				left: 50px;
				top: 15px;
			}
			&:nth-child(2) {
				top: 461px;
				left: 82px;
			}
			&:nth-child(3) {
				left: 119px;
				top: 1200px;
			}
			&:nth-child(4) {
				width: 95px;
				top: 214px;
				right: 86px;
			}
			&:nth-child(5) {
				top: 1120px;
				right: 60px;
			}
		}
	}
	> .container {
		max-width: 1400px;
		padding-bottom: 59px;
		margin: 0 auto;
		position: relative;
		> .title {
			position: absolute;
			width: 100%;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			> span {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				&:nth-child(1) {
					top: -26px;
					width: 385px;
				}
				&:nth-child(2) {
					top: 6px;
					transform: translateX(-49%);
				}
				&:nth-child(3) {
					top: 467px;
					transform: translateX(-49%);
				}
			}
		}
		> .list {
			display: flex;
			flex-wrap: wrap;
			list-style: none;
			justify-content: space-between;
			padding: 27px 0 0;
			text-align: center;
			@include webfont-ja01;
			& li {
				width: calc(33.33% - 46.66px);
				display: flex;
				flex-direction: column;
				align-items: center;
				margin: 0 0 79px;
				position: relative;
				> h4 {
					margin: 23px 0 0;
					font-size: 1.875rem;
				}
				> p {
					margin: 13px 0 0;
					font-size: 1rem;
				}
				&:nth-child(1) {
					> picture {
						> span {
							position: absolute;
							top: -49px;
							right: 25px;
							z-index: 1;
						}
					}
					> h4 {
						color: #f46f5d;
					}
				}
				&:nth-child(2) {
					position: relative;
					bottom: -692px;
					> picture {
						> span {
							position: absolute;
							top: -50px;
							left: 50%;
							transform: translateX(-50%);
							z-index: 1;
						}
					}
					> h4 {
						margin: 35px 0 0;
						color: #f7a41b;
					}
					> p {
						margin: 26px 0 0;
					}
				}
				&:nth-child(3) {
					> picture {
						> span {
							position: absolute;
							top: -49px;
							left: 25px;
							z-index: 1;
						}
					}
					> h4 {
						margin: 23px 0 0 22px;
						color: #4893db;
					}
				}
				&:nth-child(4) {
					> picture {
						> span {
							position: absolute;
							top: -49px;
							left: 25px;
							z-index: 1;
						}
					}
					> h4 {
						line-height: 1.5;
						margin: 21px 0 0 20px;
						color: #87be1e;
					}
				}
				&:nth-child(5) {
					> picture {
						> span {
							position: absolute;
							top: -49px;
							right: 25px;
							z-index: 1;
						}
					}
					> h4 {
						margin: 36px 0 0;
						color: #e287ca;
					}
					> p {
						margin: 25px 0 0;
					}
				}
			}
		}
	}

	@include sp {
		width: 100%;
		position: relative;

		> .container {
			max-width: 750px;
			min-width: 750px;
			padding-bottom: 0;
			margin: 0 auto;
			position: relative;

			&:before {
				content: none;
				@include deco;
				width: 100vw;
				height: auto;
				background-color: #fcf5ca;
				top: 164px;
				left: 80px;
				bottom: 185px;
				z-index: -1;
			}

			&:after {
				content: none;
			}

			#title {
				text-align: center;
				margin-bottom: 70px;
			}

			.list {
				display: flex;
				flex-wrap: wrap;
				list-style: none;
				justify-content: center;

				li {
					width: 670px !important;
					margin: 0 auto !important;
					position: relative;
					display: block;

					&:nth-child(n + 2) {
						margin-top: 90px !important;
					}

					.num {
						position: absolute;
						z-index: 1;
					}

					.pic {
						margin-bottom: 130px !important;
					}

					.txt {
						.title {
							@include webfont-ja01;
							font-size: 42px;
							line-height: 1.55;
							padding-left: 0;
							margin-bottom: 32px;
							text-align: center;
						}

						p {
							text-align: justify;
							line-height: 2.1;
						}
					}

					&#feature03List01 {
						width: auto;
						max-width: 670px;
						min-width: 670px;
						margin: 0 auto;
						padding-left: 0;
						display: block;

						.num {
							top: 451px;
							left: 279px;
						}

						.pic {
							margin: 0 auto;

							&:before {
								content: none;
							}

							&:after {
								width: 652px;
								height: 482px;
								top: -19px;
								left: 20px;
							}
						}

						.txt {
							margin: 0;
						}
					}

					&#feature03List02 {
						width: auto;
						max-width: 670px;
						min-width: 670px;
						margin: 0 auto;
						padding-right: 0;

						.num {
							top: 451px;
							left: 279px;
						}

						.pic {
							margin-right: 90px;

							&:before {
								content: none;
							}

							&:after {
								width: 652px;
								height: 482px;
								top: -19px;
								left: 20px;
							}
						}

						.txt {
							margin: 0 auto;

							.title {
								margin-bottom: 37px;
							}
						}
					}

					&#feature03List03,
					&#feature03List04,
					&#feature03List05 {
						width: auto;
						margin: 0 auto;
						display: block;

						.num {
							top: 451px;
							left: 279px;
							right: auto;
							display: block;
							margin: 0 auto;
							position: absolute;
						}

						.pic {
							img {
								max-width: 100%;
								height: auto;
							}

							&:after {
								width: 652px;
								height: 482px;
								top: -19px;
								left: 20px;
							}
						}

						.txt {
							width: 100%;
							margin: 0 0 0;

							.title {
								text-align: center;
								margin-bottom: 30px;
								padding-left: 0;
							}
						}
					}

					&#feature03List03 {
						margin-left: 0;

						&:after {
							content: none;
						}
					}

					&#feature03List04 {
						.pic {
							&:before {
								content: none;
							}
						}
					}

					&#feature03List05 {
						.pic {
							&:before {
								content: none;
							}
						}
					}
				}
			}
		}
	}
}

/* feature03
-------------------------------------------------------------------------------------------------------------------- */
#feature03 {
	position: relative;
	margin: 37px 0 0;
	padding: 0 0 100px;
	> .bg {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
	}
	> .container {
		width: 1100px;
		margin: 0 auto;
		padding: 255px 0 0;
		display: flex;
		position: relative;
		z-index: 2;
		> .title {
			position: absolute;
			width: 100%;
			top: 0;
			> span {
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				&:nth-child(1) {
					top: 8px;
				}
				&:nth-child(2) {
					top: 83px;
				}
				&:nth-child(3) {
					top: 68px;
					transform: translateX(-50.5%);
				}
			}
		}
		> .content {
			width: 50%;
			display: flex;
			flex-direction: column;
			& .title {
				font-size: 1.313rem;
				color: #ffffff;
				background-color: #049c34;
				display: inline-block;
				padding: 7px 25px;
				margin: 0 0 20px;
				border-radius: 20px;
				font-weight: 500;
				line-height: 1.0715;
				position: relative;
				z-index: 2;
				&::after {
					content: '';
					position: absolute;
					width: 520px;
					height: 1px;
					background-color: #049c34;
					left: 0;
					top: 50%;
					transform: translateY(-50%);
					z-index: -1;
				}
			}
			& .text {
				margin: 0 0 0 25px;
				font-size: 1rem;
			}
			> .content_list01 {
				margin: 0 0 51px;
				> p {
					margin: 0 0 0 25px;
					font-size: 1rem;
				}
				> .text {
					display: flex;
					align-items: flex-start;
					& p {
						margin: 6px 30px 0 0;
						&:nth-child(1) {
							width: 70px;
							color: #049c34;
							display: flex;
							justify-content: space-between;
						}
					}
				}
			}
			> .content_list02 {
				margin: 0 0 39px;
				> p {
					margin: 0 0 0 25px;
					font-size: 1rem;
				}
				> .text {
					display: flex;
					align-items: flex-start;
					position: relative;
					margin: -2px 0 0 40px;
					&::before {
						content: '';
						position: absolute;
						width: 15px;
						height: 15px;
						top: 50%;
						left: -15px;
						border-radius: 50%;
						transform: translateY(-50%);
						background-color: #049c34;
					}
					& p {
						margin-right: 18px;
						&:nth-child(1) {
							color: #049c34;
							display: flex;
							justify-content: space-between;
						}
					}
				}
			}
			> .tel {
				width: 520px;
				height: 100px;
				background-color: #87be1e;
				margin: 55px 0 0;
				border-radius: 5px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				.tel_list01 {
					width: 40.3%;
					color: #fff;
					margin: 2px 0 0 15px;
					font-size: 0.875rem;
					line-height: 1.714;
					display: flex;
					align-items: center;
				}
				.tel_list02 {
					width: 290px;
					height: 90px;
					background-color: #ffffff;
					margin: 0 5px 0 0;
					display: flex;
					flex-direction: column;
					justify-content: center;
					& p {
						@include webfont-en01;
						color: #049c34;
						white-space: nowrap;
						line-height: 1;
						margin-left: 21px;
						&:nth-child(1) {
							font-size: 1.563rem;
							letter-spacing: 1.02px;
							margin-top: 8px;
						}
						&:nth-child(2) {
							font-size: 2.5rem;
							letter-spacing: 1.02px;
							// padding-top: 4px;
						}
					}
				}
			}
		}
		> .table {
			width: 50%;
			> .mainTable {
				width: 520px;
				margin: -8px 0 0 23.5px;
				border: 25px solid #f46d5c;
				background-color: #ffffff;
				border-radius: 10px;
				position: relative;
				&::before {
					@include deco;
					width: 170px;
					height: 65px;
					@include bgi('../img/feature03_deco01.png');
					top: -50px;
					left: 50%;
					transform: translate(-50%, 0);
					z-index: 1;
				}
				> .title {
					display: flex;
					justify-content: center;
					margin: 35px auto 0;
				}
				> .list {
					margin: 18px 32px 32px 97px;
					.subtitle {
						font-size: 1.25rem;
						color: #f46d5c;
						display: flex;
						align-items: center;
						position: relative;
						&::before {
							@include deco;
							width: 55px;
							height: 55px;
							@include bgi('../img/feature03_deco02.png');
							top: 50%;
							left: -20%;
							transform: translate(0, -50%);
							z-index: 2;
						}

						& span {
							font-weight: bold;
							font-size: 1.563rem;
							margin-right: 16px;
							@include webfont-en01;
						}
					}
					.list_01,
					.list_02,
					.list_03,
					.list_04 {
						> .subtitle {
							&::after {
								content: '';
								width: 5px;
								height: 100px;
								background-color: #f9c15e;
								position: absolute;
								top: 50%;
								left: -12.5%;
								z-index: 1;
							}
						}
					}
					.text {
						font-size: 1rem;
					}
				}
				> .list_01 {
					&::before {
						@include deco;
						width: 55px;
						height: 55px;
						@include bgi('../img/feature03_deco02.png');
						top: 50%;
						left: 0;
						transform: translate(0%, -50%);
						z-index: 1;
					}
				}
			}
		}
	}

	@include sp {
		position: relative;
		background-color: #e1dee9;
		padding-top: 270px;
		padding-bottom: 547px;
		margin-bottom: 121px;

		&:before {
			@include deco;
			width: 750px;
			height: 750px;
			top: 0;
			z-index: 0;
			background: center top no-repeat;
			@include bgi('../img/04/deco_feature_sp.png', $retina: false, $sp: false);
			background-size: cover;
		}

		> .bg {
			width: 750px;
			left: 0;
			margin: 0;
			bottom: 0;

			> .sticky {
				height: 100%;
				max-height: none;
				min-height: auto;
				@include bgi('../img/04/bg_feture_sp.png', $retina: false, $sp: false);
				background-size: 100% auto;

				> .title {
					left: 0;
					right: 0;
					top: 81px;
					text-align: center;
				}
			}
		}

		> .container {
			width: 670px;

			.list {
				width: auto;
				margin: 0 auto;
				padding: 0;
				background: none;
				display: block;

				li {
					width: auto;

					.pic {
						width: 670px !important;
						height: 480px !important;
						margin: 0 auto 42px !important;

						.numWrap {
							top: auto !important;
							bottom: -30px !important;
							left: -20px !important;
							right: auto !important;
						}
					}

					&.show.loaded {
						.pic {
							> .mask {
								max-width: 670px;
							}
						}
					}

					.txt {
						width: 670px !important;
						margin: 0 auto;

						&:before {
							font-size: 3.32rem;
							letter-spacing: 2px;
							left: -44px;
							top: -51px;
						}

						.listTitle {
							font-size: 1.388rem;
							font-weight: 400;
							line-height: 1.7;
							text-align: center;
							margin-bottom: 25px;
						}

						p {
							text-align: justify;
						}
					}

					&:nth-child(1) {
						width: auto;
						display: block;
						margin-top: 0;

						.pic {
							margin-left: 0;
						}

						&.show.loaded {
							.pic {
								> .mask {
									max-width: 670px;
								}
							}
						}

						.txt {
							margin: 0 auto;

							.listTitle {
								padding-left: 0;
							}

							p {
								line-height: 2.1;
							}
						}
					}

					&:nth-child(2) {
						width: auto;
						margin-top: auto;
						display: block;

						.pic {
							display: block;
							width: 670px;
							top: 0;
							right: auto;
						}

						&.show.loaded {
							.pic {
								> .mask {
									max-width: 670px;
								}
							}
						}

						.txt {
							margin: 0 auto;
							padding-right: 0;

							.listTitle {
								padding-left: 0;
								margin-bottom: 17px;
							}
						}
					}

					&:nth-child(3) {
						margin-top: auto;
					}

					&:nth-child(4) {
						margin-top: auto;
					}

					&:nth-child(5) {
						margin-top: auto;
					}

					&:nth-child(6) {
						margin-top: auto;
					}

					&:nth-child(n + 2) {
						margin-top: 90px !important;
					}
				}
			}
		}
	}
}
/* feature04
-------------------------------------------------------------------------------------------------------------------- */
#feature04 {
	position: relative;
	> .container {
		width: 100%;
		margin: 0 auto;
		display: flex;
		position: relative;
		z-index: 2;
		> .deco {
			width: 100%;
			position: absolute;
			top: -13px;
			> span {
				position: absolute;
				top: 0;
				&:nth-child(1) {
					left: 466px;
				}
				&:nth-child(2) {
					right: 466px;
				}
				&:nth-child(3) {
					top: 414px;
					left: 401px;
				}
				&:nth-child(4) {
					top: 414px;
					right: 400px;
				}
			}
		}
		> .title {
			position: absolute;
			width: 100%;
			> span {
				position: absolute;
				top: 0;
				left: 50%;
				transform: translate(-50%, 0);
				&:nth-child(1) {
					top: -20px;
				}
				&:nth-child(2) {
					top: 50px;
				}
			}
		}
		> .list {
			margin: 190px 0 140px;
			width: 100%;
			display: flex;
			justify-content: center;
			overflow-x: auto;
			gap: 20px;
			& li {
				width: 330px;
			}
		}
	}

	@include sp {
		position: relative;
		background-color: #e1dee9;
		padding-top: 270px;
		padding-bottom: 547px;
		margin-bottom: 121px;

		&:before {
			@include deco;
			width: 750px;
			height: 750px;
			top: 0;
			z-index: 0;
			background: center top no-repeat;
			@include bgi('../img/04/deco_feature_sp.png', $retina: false, $sp: false);
			background-size: cover;
		}

		> .bg {
			width: 750px;
			left: 0;
			margin: 0;
			bottom: 0;

			> .sticky {
				height: 100%;
				max-height: none;
				min-height: auto;
				@include bgi('../img/04/bg_feture_sp.png', $retina: false, $sp: false);
				background-size: 100% auto;

				> .title {
					left: 0;
					right: 0;
					top: 81px;
					text-align: center;
				}
			}
		}

		> .container {
			width: 670px;

			.list {
				width: auto;
				margin: 0 auto;
				padding: 0;
				background: none;
				display: block;

				li {
					width: auto;

					.pic {
						width: 670px !important;
						height: 480px !important;
						margin: 0 auto 42px !important;

						.numWrap {
							top: auto !important;
							bottom: -30px !important;
							left: -20px !important;
							right: auto !important;
						}
					}

					&.show.loaded {
						.pic {
							> .mask {
								max-width: 670px;
							}
						}
					}

					.txt {
						width: 670px !important;
						margin: 0 auto;

						&:before {
							font-size: 3.32rem;
							letter-spacing: 2px;
							left: -44px;
							top: -51px;
						}

						.listTitle {
							font-size: 1.388rem;
							font-weight: 400;
							line-height: 1.7;
							text-align: center;
							margin-bottom: 25px;
						}

						p {
							text-align: justify;
						}
					}

					&:nth-child(1) {
						width: auto;
						display: block;
						margin-top: 0;

						.pic {
							margin-left: 0;
						}

						&.show.loaded {
							.pic {
								> .mask {
									max-width: 670px;
								}
							}
						}

						.txt {
							margin: 0 auto;

							.listTitle {
								padding-left: 0;
							}

							p {
								line-height: 2.1;
							}
						}
					}

					&:nth-child(2) {
						width: auto;
						margin-top: auto;
						display: block;

						.pic {
							display: block;
							width: 670px;
							top: 0;
							right: auto;
						}

						&.show.loaded {
							.pic {
								> .mask {
									max-width: 670px;
								}
							}
						}

						.txt {
							margin: 0 auto;
							padding-right: 0;

							.listTitle {
								padding-left: 0;
								margin-bottom: 17px;
							}
						}
					}

					&:nth-child(3) {
						margin-top: auto;
					}

					&:nth-child(4) {
						margin-top: auto;
					}

					&:nth-child(5) {
						margin-top: auto;
					}

					&:nth-child(6) {
						margin-top: auto;
					}

					&:nth-child(n + 2) {
						margin-top: 90px !important;
					}
				}
			}
		}
	}
}
/* info
-------------------------------------------------------------------------------------------------------------------- */

#info {
	background-image: url('../img/bg_info.png');
	position: relative;
	padding: 125px 0 103px;
	> .container {
		width: 1100px;
		margin: 0 auto;
		display: flex;
		align-items: flex-start;
		position: relative;
		> .title {
			position: absolute;
			width: 100%;
			> span {
				position: absolute;
				top: 0;
				left: 50%;
				transform: translate(-50%, 0);
				&:nth-child(1) {
					width: 620px;
					top: -163px;
				}
				&:nth-child(2) {
					width: 720px;
					top: -190px;
					left: 544px;
				}
			}
		}
		> .content {
			width: 100%;
			display: flex;
			> .content_list01 {
				width: 50%;
				& img {
					width: 520px;
				}
				& .title {
					font-size: 1.313rem;
					color: #ffffff;
					background-color: #f46d5c;
					display: inline-flex;
					align-items: center;
					justify-content: center;
					width: 135px;
					height: 35px;
					margin: 30px 0 0;
					border-radius: 20px;
					font-weight: 500;
					line-height: 1;
					position: relative;
					z-index: 2;
					&::after {
						content: '';
						position: absolute;
						width: 520px;
						height: 1px;
						background-color: #f46d5c;
						left: 0;
						top: 50%;
						transform: translateY(-50%);
						z-index: -1;
					}
				}
				& .text {
					@include webfont-ja01;
					font-size: 1rem;
					margin: 10px 0 0;
				}
				> .tel {
					width: 520px;
					height: 80px;
					background-color: #f46d5c;
					margin: 30px 0 0;
					border-radius: 5px;
					display: flex;
					justify-content: space-between;
					align-items: center;
					.tel_list01 {
						width: 33.3%;
						color: #fff;
						font-size: 1.375rem;
						display: flex;
						align-items: center;
						justify-content: center;
						margin-top: 4px;
					}
					.tel_list02 {
						width: 340px;
						height: 70px;
						background-color: #ffffff;
						margin: 0 5px 0 0;
						position: relative;
						& p {
							@include webfont-en01;
							color: #f46d5c;
							white-space: nowrap;
							position: absolute;
							&:nth-child(1) {
								top: 16px;
								left: 19px;
								font-size: 1.563rem;
							}
							&:nth-child(2) {
								top: -4px;
								right: 28px;
								font-size: 2.5rem;
								letter-spacing: 0.02rem;
							}
						}
					}
				}
			}
			> .content_list02 {
				width: 50%;
				& iframe {
					margin: 0 0 0 30px;
					width: 520px;
					height: 510px;
				}
			}
		}
	}

	@include sp {
		margin-bottom: 168px;

		> .container {
			width: 750px;
			display: block;

			> .main {
				border-width: 45px 45px 49px;
				padding: 61px 73px 73px;

				> .box {
					display: block;
					position: relative;
					padding-bottom: 90px;

					> .title {
						margin-bottom: 46px;
						text-align: center;

						p {
							position: absolute;
							left: 0;
							bottom: 0;
							line-height: 0;
							width: 100%;

							a {
								display: inline-block;
								width: 236px;
								height: 58px;
								margin: 0;
								font-size: 26px;
								line-height: 58px;
								padding-left: 0;
								padding-right: 36px;

								&:after {
									content: '';
									display: block;
									position: absolute;
									right: 33px;
									top: 50%;
									margin-top: -8px;
									border: 8px solid #fff;
									border-width: 8px 0 8px 8px;
									border-color: transparent transparent transparent #fff;
								}
							}
						}
					}

					> .feed {
						width: 100%;
						padding-right: 30px;
						max-height: 480px;

						dl dd + dt {
							margin-top: 22px;
						}

						.os-scrollbar-vertical {
							width: 6px;
							right: 0;
							top: 6px;
							bottom: 6px;
						}
					}

					&.blog {
						margin-top: 135px;

						&:before {
							left: -7px;
							right: -8px;
							top: -66px;
							height: 2px;
						}

						.btn {
							width: 390px;
							@include webfont-en01;
							font-size: 26px;
							font-weight: 400;
							color: #000;
							text-decoration: none;
							margin: 70px auto 80px;
							display: flex;
							justify-content: flex-end;
							align-items: center;

							.circle {
								width: 84px;
								height: 84px;
								margin-left: 40px;
								background-size: 14px auto;

								> .border {
									&:before {
										border-width: 2px;
									}
								}
							}

							&:hover {
								.circle {
									&:after {
										background: #e74c3c;
										-webkit-transform: rotate(0deg);
										transform: rotate(0deg);
										-webkit-transform-origin: 0% 0%;
										transform-origin: 0% 0%;
										-webkit-animation: rotateLeft 1s linear;
										animation: rotateLeft 1s linear;
									}

									@-webkit-keyframes rotateLeft {
										0% {
											-webkit-transform: rotate(0deg);
											transform: rotate(0deg);
										}
										100% {
											-webkit-transform: rotate(360deg);
											transform: rotate(360deg);
										}
									}
								}
							}
						}
					}
				}
			}

			> .sub {
				width: auto;
				margin: 79px 0 0;

				.calendar {
					width: 560px;
					margin: 0 auto;

					.listTab {
						border-bottom: 9px solid #22ac38;

						li {
							flex: 0 1 50%;

							a {
								height: 66px;
								line-height: 66px;
								font-size: 28px;
							}
						}
					}

					.calendarIn {
						margin-top: 2px;

						.boxContents table {
							thead th,
							tbody td {
								font-size: 28px;
								height: 70px;
							}
						}
					}

					~ p {
						width: 560px;
						margin: 20px auto 0;
						font-size: 26px;

						span.close {
							width: 40px;
							height: 24px;
							margin-right: 17px;
							vertical-align: -0.05em;
						}
					}
				}
			}
		}
	}
}
/* form
-------------------------------------------------------------------------------------------------------------------- */
#form {
	position: relative;
	> .deco {
		width: 100%;
		position: absolute;
		> span {
			position: absolute;
			top: 0;
			&:nth-child(1) {
				top: -244px;
				left: 235px;
			}
			&:nth-child(2) {
				top: -247px;
				right: 215px;
			}
			&:nth-child(3) {
				top: -36px;
				left: 136px;
			}
			&:nth-child(4) {
				right: 160px;
				top: 61px;
			}
			&:nth-child(5) {
				left: 160px;
				top: 349px;
			}
			&:nth-child(6) {
				right: 262px;
				top: 561px;
			}
		}
	}
	> .container {
		width: 1100px;
		margin: 0 auto;
		position: relative;
		> .title {
			position: absolute;
			width: 100%;
			top: 124px;
			> span {
				position: absolute;
				top: 0;
				left: 50%;
				transform: translate(-50%, 0);
				&:nth-child(1) {
					top: -288px;
				}
				&:nth-child(2) {
					top: -362px;
				}
			}
		}
		> .form {
			margin: 207px 0 0;
			width: 100%;
			border: 1px solid #f46d5c;
			.list_01,
			.list_02,
			.list_03,
			.list_04,
			.list_05 {
				& label {
					display: flex;
					align-items: center;
					justify-content: space-between;
				}
			}
			.list_06 {
				height: 237px;
				& label {
					height: 100%;
					padding: 19.5px 27.5px 0;
				}
				& textarea {
					width: 73%;
					height: 100%;
					border: 1px solid #f46d5c;
					font-size: 1rem;
					padding: 25px 33px 0;
					resize: none;
				}
				& textarea:focus {
					outline: none;
				}
			}
			> div {
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				&:nth-child(1) {
					& input {
						height: 70px;
					}
					& label {
						height: 70px;
					}
				}
				&:nth-child(2) {
					& input {
						height: 71px;
					}
					& label {
						height: 71px;
					}
				}
				&:nth-child(3) {
					& label {
						height: 73px;
					}
				}
				&:nth-child(4) {
					& input {
						height: 72px;
					}
					& label {
						height: 72px;
					}
				}
				&:nth-child(5) {
					& input {
						height: 73px;
					}
					& label {
						height: 73px;
					}
				}
				& input {
					width: 73%;
					height: 67px;
					padding: 0 30px;
					font-size: 1rem;
					border: 1px solid #f46d5c;
					background-color: #ffffff;
				}
				& input:focus {
					outline: none;
				}
				& label {
					width: 27%;
					color: #f46d5c;
					font-size: 1rem;
					height: 67px;
					border: 1px solid #f46d5c;
					background-color: #ffe5e0;
					padding: 0 27.5px 0;
					& span {
						color: #ffffff;
						background-color: #f46d5c;
						font-size: 0.938rem;
						line-height: 1;
						padding: 5.5px 12.5px;
					}
				}
			}
			.radio-list {
				width: 73%;
				height: 73px;
				padding: 0 30px;
				border: 1px solid #f46d5c;
				background-color: #ffffff;
				display: flex;
				align-items: center;
				.radio-input {
					width: 20px;
					height: 20px;
					margin: 0 10px 0 0;
					background-color: #e1e1e1;
				}
				.radio-label {
					@include webfont-ja01;
					background-color: transparent;
					border: none;
					padding: 0;
					font-size: 1rem;
					color: #000000;
					width: auto;
					margin: 0 55px 0 0;
				}
			}
		}
		> .btn_form {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 72px 0 0;
			& button {
				width: 300px;
				height: 70px;
				background-color: #f46d5c;
				border: none;
				font-size: 1.375rem;
				color: #ffffff;
				cursor: pointer;
				position: relative;
				transition: all 0.25s;
				overflow: hidden;
			}
			& button::after {
				content: '';
				position: absolute;
				z-index: 1;
				height: 0;
				left: 50%;
				top: 50%;
				width: 0;
				border-radius: 25px;
				transition: all 0.25s;
			}
			& button:hover {
				color: #ffffff;
			}
			& button:hover::after {
				animation: hoverBtn 0.45s forwards;
			}
			@keyframes hoverBtn {
				100% {
					opacity: 0.1;
					background-color: #fff;
					height: 100%;
					left: 0;
					top: 0;
					width: 100%;
					transform: scale(1.2);
				}
			}
		}
	}
}
/* footer
-------------------------------------------------------------------------------------------------------------------- */
#footer {
	margin: 90px 0 35px;
	> .container {
		width: 1120px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		> .logo_footer {
			margin: 0 0 0 10px;
		}
		> .copyright {
			@include webfont-en01;
			font-size: 0.938rem;
			color: #e96b04;
			margin: 14px 7.5px 0 0;
			line-height: 1.6;
			letter-spacing: 0.02rem;
		}
	}
}
