@charset "utf-8";

@import '../common/css/base/var';
@import '../common/css/module/button';

/* loading
-------------------------------------------------------------------------------------------------------------------- */

#logo_loading {
	position: relative;
}
.loadingOver {
	animation: moveTop 1s forwards;
}
#loading {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: center top #fff;
	@include bgi('../common/img/bg_wrapper.png');
	background-size: 1800px auto;
	z-index: 999;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	> .container {
		display: flex;
		flex-direction: column;
		align-items: center;
		> .logo {
			display: flex;
			align-items: center;
			gap: 13.5px;
			flex: 0 0 auto;
			top: 50%;
			transform: translateY(-50%);
			position: relative;
			& picture {
				&:nth-child(1) {
					width: 65.5px;
					animation: pulse 1s linear infinite alternate;
				}
				&:nth-child(2) {
					width: 338.5px;
					animation: pulse 1s linear 0.1s infinite alternate;
				}
			}
		}
	}

	@include sp {
		background-size: 750px auto;

		> .container {
			> .logo {
				img {
					width: 500px;
					height: auto;
				}
			}
			> .progress {
				margin-top: 40px;
				width: 450px;
				height: 8px;
			}
		}
	}
}

/* common override
-------------------------------------------------------------------------------------------------------------------- */

/* Main Visual
-------------------------------------------------------------------------------------------------------------------- */
#mainVisual {
	position: relative;
	width: 100%;
	max-height: rem(2000);
	height: 100vh;
	.bg {
		position: absolute;
		object-fit: cover;
		// max-width: 100%;
		// height: 100%;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		& img {
			max-width: 100%;
			height: 100%;
		}
	}
	.deco {
		display: flex;
		justify-content: center;
		> span {
			display: block;
			position: absolute;
			top: 0;
			z-index: 9;
			&:nth-child(1) {
				max-width: rem(2400);
				height: auto;
				top: rem(39);
				left: rem(922);
			}

			&:nth-child(2) {
				max-width: rem(1964);
				height: auto;
				top: 0;
				left: rem(732);
			}
		}
	}
	> .pic {
		> .slide {
			position: relative;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			> li {
				position: absolute;
				z-index: 8;
				max-width: 100% !important;
				&:nth-child(1) {
					width: rem(1320);
					top: rem(220);
					left: rem(50);
				}
				&:nth-child(2) {
					width: rem(920);
					top: rem(220);
					right: rem(400);
				}
				&:nth-child(3) {
					width: rem(580);
					top: rem(1030);
					right: rem(930);
				}
				&:nth-child(4) {
					width: rem(750);
					top: rem(920);
					right: rem(100);
				}
			}
		}
	}
	> .btn_contact01 {
		position: absolute;
		z-index: 8;
		width: rem(340);
		height: rem(340);
		top: rem(-40);
		right: rem(370);
		border-radius: 50%;
		background-color: #5ccfe6;
		border: 2px solid #23aac5;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		cursor: pointer;
		> a {
			text-decoration: none;
			& img {
				padding: rem(26) 0 0;
				width: rem(78);
			}
			& p {
				@include webfont-ja01;
				color: #381c01;
				font-size: rem(32);
				line-height: 1.5;
			}
		}
	}
	> .container {
		width: rem(2240);
		margin: 0 auto;
		height: 100%;
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: column;
		> .title {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			position: relative;
			top: rem(244);
			> span {
				display: block;
				overflow: hidden;
				z-index: 10;
				position: relative;
				&:nth-child(1) {
					width: rem(672) !important;
				}
				&:nth-child(2) {
					position: absolute;
					top: rem(162);
					width: rem(204) !important;
				}
				&:nth-child(3) {
					margin: rem(170) 0 0;
					width: rem(758) !important;
				}
			}
		}
		> .subtitle {
			position: absolute;
			left: 50%;
			top: 60%;
			transform: translate(-50%, -55%);
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			> p {
				@include webfont-ja01;
				font-size: rem(64);
				color: #ffffff;
				height: rem(110);
				background-color: #87c022;
				display: flex;
				align-items: center;
				padding: 0 rem(40);
				&:nth-child(1) {
					margin: 0 0 rem(30);
				}
			}
			> span {
				@include webfont-en02;
				font-size: rem(26);
				text-transform: uppercase;
				color: #049c34;
				margin: rem(24) 0 0;
			}
		}
		@at-root #scrollDown {
			position: absolute;
			display: block;
			left: 50%;
			bottom: 0;
			transform: translateX(-50%) !important;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
			text-decoration: none;
			padding: 0 0 rem(122);
			> p {
				@include webfont-en02;
				letter-spacing: 3.2px;
				font-size: rem(26);
				color: #e86004;
			}
			> span {
				&:nth-child(2) {
					width: rem(26);
					margin: rem(9) 0 rem(6);
				}
				&:nth-child(3),
				&:nth-child(4),
				&:nth-child(5) {
					margin: rem(-20) 0 0;
					width: rem(23);
				}
			}
		}
	}

	@keyframes scrollDownBar {
		0% {
			bottom: 45px;
			height: 0;
		}

		50% {
			bottom: 0;
			height: 45px;
		}

		100% {
			height: 0;
		}
	}

	@include sp {
		> .bg {
			& img {
				height: auto;
			}
		}
		> .pic {
			> .slide {
				> li {
					&:nth-child(1) {
						width: rem(1320);
						top: rem(220);
						left: rem(50);
					}
					&:nth-child(2) {
						width: rem(920);
						top: rem(220);
						right: rem(400);
					}
					&:nth-child(3) {
						width: rem(580);
						top: rem(1030);
						right: rem(930);
					}
					&:nth-child(4) {
						width: rem(750);
						top: rem(920);
						right: rem(100);
					}
				}
			}
		}
		> .btn_contact01 {
			display: none;
		}
		> .container {
			width: rem(670);
			> .title {
				top: 416px;
				margin-left: -263px;

				> span {
					&:nth-child(2) {
						left: 2px;
						top: 91px;
					}

					&:nth-child(3) {
						left: 49px;
						top: 230px;
					}

					&:nth-child(4) {
						left: 57px;
						top: 284px;
					}

					&:nth-child(5) {
						left: 54px;
						top: 344px;
					}
				}
			}

			> .pic {
				> li {
					&:nth-child(1) {
						left: 0;
						top: 553px;
					}

					&:nth-child(2) {
						left: 210px;
						top: 0;
					}
				}
			}

			> .deco {
				> span {
					&:nth-child(1) {
						left: 0;
						top: 23px;
					}

					&:nth-child(2) {
						right: 0;
						top: 753px;
					}
				}
			}

			> .bg {
				> span {
					&:nth-child(1) {
						left: 0;
						top: 612px;
					}

					&:nth-child(2) {
						right: 0;
						top: 355px;
					}
				}
			}
		}
	}
}

/* before animation */
#mainVisual {
	> .container {
		> .title {
			> span {
				overflow: hidden;
				max-width: 0;
			}
		}

		> .pic {
			> .slide {
				> li {
					max-width: 0;
					overflow: hidden;
				}
			}
		}

		> .deco {
			> span {
				opacity: 0;
			}
		}

		> .bg {
			> span {
				&:nth-child(1) {
					transform: translate(-200px, 64px);
				}

				&:nth-child(2) {
					transform: translate(-200px, -64px);
				}
			}
		}

		@at-root #scrollDown {
			opacity: 0;
		}
	}
}
/* feature
-------------------------------------------------------------------------------------------------------------------- */
#feature {
	position: relative;
	padding-top: rem(440);
	> .bg {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	> .container {
		width: rem(2600);
		margin: 0 auto;
		background-color: #fffbd2;
		position: relative;
		z-index: 1;
		padding: 0px rem(220) rem(120);
		&:before {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: rem(-330);
			border-style: solid;
			border-width: 0 rem(1300) rem(330);
			border-color: transparent transparent #fffbd2;
			z-index: -1;
		}

		> .title {
			display: inline-block;
			position: absolute;
			top: 0;
			z-index: 3;
			> span {
				position: absolute;
				&:nth-child(1) {
					top: rem(-350);
					left: rem(830);
					width: rem(500);
				}
			}
		}
		> .deco {
			display: inline-block;
			top: 0;
			z-index: 2;
			> span {
				position: absolute;
				&:nth-child(1) {
					width: rem(99);
					top: rem(-300);
					left: rem(600);
				}
				&:nth-child(2) {
					width: rem(764);
					top: rem(-200);
					left: rem(920);
				}
				&:nth-child(3) {
					width: rem(301);
					top: rem(-380);
					right: rem(550);
				}
				&:nth-child(4) {
					width: rem(335);
					left: rem(-210);
					bottom: rem(300);
				}
				&:nth-child(5) {
					width: rem(168);
					right: rem(-280);
					bottom: rem(280);
				}
				&:nth-child(6) {
					width: rem(3070);
					bottom: rem(-80);
					left: rem(-240);
				}
			}
		}
		> .list {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-around;
			list-style: none;
			position: relative;
			z-index: 4;
			text-align: center;
			> li {
				width: rem(449);
				display: flex;
				flex-direction: column;
				align-items: center;
				&:nth-child(1) {
					> h4 {
						color: #f46f5d;
						font-size: rem(42);
					}
					> p {
						color: #f79a8e;
						font-size: rem(24);
					}
				}
				&:nth-child(2) {
					> h4 {
						color: #4a93dd;
						font-size: rem(42);
					}
					> p {
						color: #81b4e5;
						font-size: rem(24);
					}
				}
				&:nth-child(3) {
					> h4 {
						color: #f7a619;
						font-size: rem(42);
					}
					> p {
						color: #f9c15e;
						font-size: rem(24);
					}
				}
				&:nth-child(4) {
					> h4 {
						color: #87c022;
						font-size: rem(42);
					}
					> p {
						color: #a3cd62;
						font-size: rem(24);
					}
				}
			}
		}
		> .text {
			text-align: center;
			margin-top: rem(146);
			font-size: rem(32);
			color: #000000;
			z-index: 4;
		}
	}

	@include sp {
		padding: 149px 35px 70px;
		background-color: #dbf1e3;

		&:before {
			display: none;
		}

		> .container {
			width: auto;
			padding: 232px 40px 93px;
			margin-bottom: 80px;

			&:before {
				top: -70px;
				border-width: 0 340px 70px;
			}

			> .title {
				top: 39px;

				> span {
					&.en {
						font-size: 82px;
						margin-bottom: 10px;
					}

					&.ja {
						font-size: 30px;
					}
				}
			}

			> .list {
				display: block;

				> li {
					width: auto;
					margin-left: 0;

					&:nth-child(n + 2) {
						margin-top: 131px;
					}

					> figure {
						text-align: center;
					}

					> .num {
						top: 267px;
						margin-left: -45px;
						width: 90px;
						height: 90px;
						font-size: 48px;
						padding-top: 13px;

						&:before {
							left: 18px;
							right: 18px;
							bottom: 23px;
							height: 2px;
						}
					}

					> .txt {
						padding-top: 31px;

						> h4 {
							font-size: 34px;
							line-height: 1.5883;
							letter-spacing: 0.15em;
							height: 158px;
						}

						> .box {
							padding: 39px 40px 44px;
							margin-top: 35px;

							> h5 {
								font-size: 30px;
								margin: 31px 0 9px;

								&:first-child {
									margin-top: 0;
								}
							}

							> p {
								font-size: 26px;
							}
						}
					}
				}
			}
		}
	}
}

/* feature02
-------------------------------------------------------------------------------------------------------------------- */
#feature02 {
	width: 100%;
	margin-bottom: rem(200);
	position: relative;
	margin: rem(88) 0 0;
	z-index: 4;
	> .deco {
		position: absolute;
		width: 100%;
		> span {
			&:nth-child(1) {
				position: absolute;
				left: rem(100);
				top: rem(80);
				width: rem(247);
			}
			&:nth-child(2) {
				position: absolute;
				width: rem(351);
				right: rem(80);
				top: rem(480);
			}
		}
	}
	> .container {
		max-width: rem(2800);
		padding-bottom: rem(118);
		margin: 0 auto;
		position: relative;
		> .title {
			width: rem(767);
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, 0);
			&::before {
				@include deco;
				width: rem(760);
				height: rem(222);
				@include bgi('../img/feature02_deco02.png');
				top: rem(60);
				left: 0;
				z-index: 1;
			}
			&:after {
				@include deco;
				width: rem(902);
				height: rem(369);
				@include bgi('../img/feature02_deco01.png');
				bottom: rem(-140);
				left: rem(-60);
				z-index: 1;
			}
		}
		> .list {
			display: flex;
			flex-wrap: wrap;
			list-style: none;
			justify-content: space-between;
			padding: rem(106) 0 0;
			text-align: center;
			@include webfont-ja01;
			& li {
				width: calc(33.33% - 46.66px);
				display: flex;
				flex-direction: column;
				align-items: center;
				margin: 0 0 rem(230);
				position: relative;
				> h4 {
					margin: rem(46) 0 0;
					font-size: rem(60);
				}
				> p {
					margin: rem(26) 0 0;
					font-size: rem(32);
				}
				&:nth-child(1) {
					&::after {
						@include deco;
						width: rem(242);
						height: rem(265);
						@include bgi('../img/feature02_deco03.png');
						top: rem(-100);
						right: rem(50);
						z-index: 1;
					}
					> h4 {
						color: #f46f5d;
					}
				}
				&:nth-child(2) {
					position: relative;
					bottom: rem(-1410);
					&::after {
						@include deco;
						width: rem(242);
						height: rem(265);
						@include bgi('../img/feature02_deco06.png');
						top: rem(-100);
						left: 50%;
						transform: translateX(-50%);
						z-index: 1;
					}
					> h4 {
						color: #f7a41b;
					}
				}
				&:nth-child(3) {
					&::after {
						@include deco;
						width: rem(242);
						height: rem(265);
						@include bgi('../img/feature02_deco04.png');
						top: rem(-100);
						left: rem(50);
						z-index: 1;
					}
					> h4 {
						color: #4893db;
					}
				}
				&:nth-child(4) {
					&::after {
						@include deco;
						width: rem(242);
						height: rem(265);
						@include bgi('../img/feature02_deco05.png');
						top: rem(-100);
						left: rem(50);
						z-index: 1;
					}
					> h4 {
						color: #87be1e;
					}
				}
				&:nth-child(5) {
					&::after {
						@include deco;
						width: rem(242);
						height: rem(265);
						@include bgi('../img/feature02_deco07.png');
						top: rem(-100);
						right: rem(50);
						z-index: 1;
					}
					> h4 {
						color: #e287ca;
					}
				}
			}
		}
	}

	@include sp {
		width: 100%;
		position: relative;

		> .container {
			max-width: 750px;
			min-width: 750px;
			padding-bottom: 0;
			margin: 0 auto;
			position: relative;

			&:before {
				content: none;
				@include deco;
				width: 100vw;
				height: auto;
				background-color: #fcf5ca;
				top: 164px;
				left: 80px;
				bottom: 185px;
				z-index: -1;
			}

			&:after {
				content: none;
			}

			#title {
				text-align: center;
				margin-bottom: 70px;
			}

			.list {
				display: flex;
				flex-wrap: wrap;
				list-style: none;
				justify-content: center;

				li {
					width: 670px !important;
					margin: 0 auto !important;
					position: relative;
					display: block;

					&:nth-child(n + 2) {
						margin-top: 90px !important;
					}

					.num {
						position: absolute;
						z-index: 1;
					}

					.pic {
						margin-bottom: 130px !important;
					}

					.txt {
						.title {
							@include webfont-ja01;
							font-size: 42px;
							line-height: 1.55;
							padding-left: 0;
							margin-bottom: 32px;
							text-align: center;
						}

						p {
							text-align: justify;
							line-height: 2.1;
						}
					}

					&#feature03List01 {
						width: auto;
						max-width: 670px;
						min-width: 670px;
						margin: 0 auto;
						padding-left: 0;
						display: block;

						.num {
							top: 451px;
							left: 279px;
						}

						.pic {
							margin: 0 auto;

							&:before {
								content: none;
							}

							&:after {
								width: 652px;
								height: 482px;
								top: -19px;
								left: 20px;
							}
						}

						.txt {
							margin: 0;
						}
					}

					&#feature03List02 {
						width: auto;
						max-width: 670px;
						min-width: 670px;
						margin: 0 auto;
						padding-right: 0;

						.num {
							top: 451px;
							left: 279px;
						}

						.pic {
							margin-right: 90px;

							&:before {
								content: none;
							}

							&:after {
								width: 652px;
								height: 482px;
								top: -19px;
								left: 20px;
							}
						}

						.txt {
							margin: 0 auto;

							.title {
								margin-bottom: 37px;
							}
						}
					}

					&#feature03List03,
					&#feature03List04,
					&#feature03List05 {
						width: auto;
						margin: 0 auto;
						display: block;

						.num {
							top: 451px;
							left: 279px;
							right: auto;
							display: block;
							margin: 0 auto;
							position: absolute;
						}

						.pic {
							img {
								max-width: 100%;
								height: auto;
							}

							&:after {
								width: 652px;
								height: 482px;
								top: -19px;
								left: 20px;
							}
						}

						.txt {
							width: 100%;
							margin: 0 0 0;

							.title {
								text-align: center;
								margin-bottom: 30px;
								padding-left: 0;
							}
						}
					}

					&#feature03List03 {
						margin-left: 0;

						&:after {
							content: none;
						}
					}

					&#feature03List04 {
						.pic {
							&:before {
								content: none;
							}
						}
					}

					&#feature03List05 {
						.pic {
							&:before {
								content: none;
							}
						}
					}
				}
			}
		}
	}
}

/* feature03
-------------------------------------------------------------------------------------------------------------------- */
#feature03 {
	position: relative;
	margin-bottom: rem(68);
	padding-bottom: rem(100);
	> .bg {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
	}

	> .container {
		width: rem(2200);
		margin: 0 auto;
		padding: rem(510) 0 0;
		display: flex;
		position: relative;
		z-index: 2;
		> .title {
			width: rem(952);
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, 5%);
		}
		> .content {
			width: 50%;
			display: flex;
			flex-direction: column;
			& .title {
				font-size: rem(42);
				color: #ffffff;
				background-color: #049c34;
				display: inline-block;
				padding: 0 rem(50);
				margin: 0 0 rem(40);
				border-radius: 20px;
				font-weight: 500;
				position: relative;
				z-index: 2;
				&::after {
					content: '';
					position: absolute;
					width: rem(1040);
					height: 1px;
					background-color: #049c34;
					left: 0;
					top: 50%;
					transform: translateY(-50%);
					z-index: -1;
				}
			}
			& .text {
				margin: 0 0 0 rem(50);
				font-size: rem(32);
			}
			> .content_list01 {
				margin: 0 0 rem(78);
				> p {
					margin: 0 0 0 rem(50);
					font-size: rem(32);
				}
				> .text {
					display: flex;
					align-items: flex-start;
					& p {
						margin-right: rem(60);
						&:nth-child(1) {
							width: rem(140);
							color: #049c34;
							display: flex;
							justify-content: space-between;
						}
					}
				}
			}
			> .content_list02 {
				margin: 0 0 rem(78);
				> p {
					margin: 0 0 0 rem(50);
					font-size: rem(32);
				}
				> .text {
					display: flex;
					align-items: flex-start;
					position: relative;
					margin-left: rem(80);
					&::before {
						content: '';
						position: absolute;
						width: rem(30);
						height: rem(30);
						top: 50%;
						left: rem(-30);
						border-radius: 50%;
						transform: translateY(-50%);
						background-color: #049c34;
					}
					& p {
						margin-left: rem(30);
						margin-right: rem(60);
						&:nth-child(1) {
							color: #049c34;
							display: flex;
							justify-content: space-between;
						}
					}
				}
			}
			> .tel {
				width: rem(1040);
				height: rem(200);
				background-color: #87be1e;
				margin: rem(230) 0 0;
				border-radius: 5px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				.tel_list01 {
					width: 43.3%;
					color: #fff;
					margin: 0 0 0 rem(30);
					font-size: rem(28);
					display: flex;
					align-items: center;
				}
				.tel_list02 {
					width: rem(580);
					height: rem(180);
					background-color: #ffffff;
					margin: 0 rem(10) 0 0;
					display: flex;
					flex-direction: column;
					justify-content: center;
					& p {
						@include webfont-en01;
						color: #049c34;
						white-space: nowrap;
						line-height: 1;
						margin-left: rem(43);
						&:nth-child(1) {
							font-size: rem(50);
						}
						&:nth-child(2) {
							font-size: rem(80);
						}
					}
				}
			}
		}
		> .table {
			width: 50%;
			> .mainTable {
				width: rem(1040);
				margin: 0 0 0 rem(47);
				border: rem(50) solid #f46d5c;
				background-color: #ffffff;
				border-radius: 10px;
				position: relative;
				&::before {
					@include deco;
					width: rem(340);
					height: rem(130);
					@include bgi('../img/feature03_deco01.png');
					top: -5%;
					left: 50%;
					transform: translate(-50%, -20%);
					z-index: 1;
				}
				> .title {
					width: rem(602);
					margin: rem(70) auto 0;
				}
				> .list {
					margin: rem(70) rem(64) rem(70) rem(200);
					.subtitle {
						font-size: rem(40);
						color: #f46d5c;
						display: flex;
						align-items: center;
						position: relative;
						&::before {
							@include deco;
							width: rem(110);
							height: rem(110);
							@include bgi('../img/feature03_deco02.png');
							top: 50%;
							left: -20%;
							transform: translate(0, -50%);
							z-index: 2;
						}

						& span {
							font-weight: bold;
							font-size: rem(50);
							margin-right: rem(32);
						}
					}
					.list_01,
					.list_02,
					.list_03,
					.list_04 {
						> .subtitle {
							&::after {
								content: '';
								width: rem(10);
								height: rem(200);
								background-color: #f9c15e;
								position: absolute;
								top: 50%;
								left: -12.5%;
								z-index: 1;
							}
						}
					}
					.text {
						font-size: rem(32);
					}
				}
				> .list_01 {
					&::before {
						@include deco;
						width: rem(110);
						height: rem(110);
						@include bgi('../img/feature03_deco02.png');
						top: 50%;
						left: 0;
						transform: translate(0%, -50%);
						z-index: 1;
					}
				}
			}
		}
	}

	@include sp {
		position: relative;
		background-color: #e1dee9;
		padding-top: 270px;
		padding-bottom: 547px;
		margin-bottom: 121px;

		&:before {
			@include deco;
			width: 750px;
			height: 750px;
			top: 0;
			z-index: 0;
			background: center top no-repeat;
			@include bgi('../img/04/deco_feature_sp.png', $retina: false, $sp: false);
			background-size: cover;
		}

		> .bg {
			width: 750px;
			left: 0;
			margin: 0;
			bottom: 0;

			> .sticky {
				height: 100%;
				max-height: none;
				min-height: auto;
				@include bgi('../img/04/bg_feture_sp.png', $retina: false, $sp: false);
				background-size: 100% auto;

				> .title {
					left: 0;
					right: 0;
					top: 81px;
					text-align: center;
				}
			}
		}

		> .container {
			width: 670px;

			.list {
				width: auto;
				margin: 0 auto;
				padding: 0;
				background: none;
				display: block;

				li {
					width: auto;

					.pic {
						width: 670px !important;
						height: 480px !important;
						margin: 0 auto 42px !important;

						.numWrap {
							top: auto !important;
							bottom: -30px !important;
							left: -20px !important;
							right: auto !important;
						}
					}

					&.show.loaded {
						.pic {
							> .mask {
								max-width: 670px;
							}
						}
					}

					.txt {
						width: 670px !important;
						margin: 0 auto;

						&:before {
							font-size: 3.32rem;
							letter-spacing: 2px;
							left: -44px;
							top: -51px;
						}

						.listTitle {
							font-size: 1.388rem;
							font-weight: 400;
							line-height: 1.7;
							text-align: center;
							margin-bottom: 25px;
						}

						p {
							text-align: justify;
						}
					}

					&:nth-child(1) {
						width: auto;
						display: block;
						margin-top: 0;

						.pic {
							margin-left: 0;
						}

						&.show.loaded {
							.pic {
								> .mask {
									max-width: 670px;
								}
							}
						}

						.txt {
							margin: 0 auto;

							.listTitle {
								padding-left: 0;
							}

							p {
								line-height: 2.1;
							}
						}
					}

					&:nth-child(2) {
						width: auto;
						margin-top: auto;
						display: block;

						.pic {
							display: block;
							width: 670px;
							top: 0;
							right: auto;
						}

						&.show.loaded {
							.pic {
								> .mask {
									max-width: 670px;
								}
							}
						}

						.txt {
							margin: 0 auto;
							padding-right: 0;

							.listTitle {
								padding-left: 0;
								margin-bottom: 17px;
							}
						}
					}

					&:nth-child(3) {
						margin-top: auto;
					}

					&:nth-child(4) {
						margin-top: auto;
					}

					&:nth-child(5) {
						margin-top: auto;
					}

					&:nth-child(6) {
						margin-top: auto;
					}

					&:nth-child(n + 2) {
						margin-top: 90px !important;
					}
				}
			}
		}
	}
}
/* feature04
-------------------------------------------------------------------------------------------------------------------- */
#feature04 {
	position: relative;
	> .container {
		width: 100%;
		margin: 0 auto;
		display: flex;
		position: relative;
		z-index: 2;
		> .title {
			width: rem(1973);
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, -25%);
			::before {
				@include deco;
				width: rem(341);
				height: rem(320);
				@include bgi('../img/feature04_deco01.png');
				bottom: -253%;
				left: -5%;
				z-index: 1;
			}
			::after {
				@include deco;
				width: rem(313);
				height: rem(320);
				@include bgi('../img/feature04_deco02.png');
				bottom: -253%;
				right: -5%;
				z-index: 1;
			}
		}
		> .list {
			margin: rem(334) 0 rem(280);
			width: 100%;
			display: flex;
			justify-content: center;
			overflow-x: auto;
			gap: rem(40);
			& li {
				width: rem(660);
			}
		}
	}

	@include sp {
		position: relative;
		background-color: #e1dee9;
		padding-top: 270px;
		padding-bottom: 547px;
		margin-bottom: 121px;

		&:before {
			@include deco;
			width: 750px;
			height: 750px;
			top: 0;
			z-index: 0;
			background: center top no-repeat;
			@include bgi('../img/04/deco_feature_sp.png', $retina: false, $sp: false);
			background-size: cover;
		}

		> .bg {
			width: 750px;
			left: 0;
			margin: 0;
			bottom: 0;

			> .sticky {
				height: 100%;
				max-height: none;
				min-height: auto;
				@include bgi('../img/04/bg_feture_sp.png', $retina: false, $sp: false);
				background-size: 100% auto;

				> .title {
					left: 0;
					right: 0;
					top: 81px;
					text-align: center;
				}
			}
		}

		> .container {
			width: 670px;

			.list {
				width: auto;
				margin: 0 auto;
				padding: 0;
				background: none;
				display: block;

				li {
					width: auto;

					.pic {
						width: 670px !important;
						height: 480px !important;
						margin: 0 auto 42px !important;

						.numWrap {
							top: auto !important;
							bottom: -30px !important;
							left: -20px !important;
							right: auto !important;
						}
					}

					&.show.loaded {
						.pic {
							> .mask {
								max-width: 670px;
							}
						}
					}

					.txt {
						width: 670px !important;
						margin: 0 auto;

						&:before {
							font-size: 3.32rem;
							letter-spacing: 2px;
							left: -44px;
							top: -51px;
						}

						.listTitle {
							font-size: 1.388rem;
							font-weight: 400;
							line-height: 1.7;
							text-align: center;
							margin-bottom: 25px;
						}

						p {
							text-align: justify;
						}
					}

					&:nth-child(1) {
						width: auto;
						display: block;
						margin-top: 0;

						.pic {
							margin-left: 0;
						}

						&.show.loaded {
							.pic {
								> .mask {
									max-width: 670px;
								}
							}
						}

						.txt {
							margin: 0 auto;

							.listTitle {
								padding-left: 0;
							}

							p {
								line-height: 2.1;
							}
						}
					}

					&:nth-child(2) {
						width: auto;
						margin-top: auto;
						display: block;

						.pic {
							display: block;
							width: 670px;
							top: 0;
							right: auto;
						}

						&.show.loaded {
							.pic {
								> .mask {
									max-width: 670px;
								}
							}
						}

						.txt {
							margin: 0 auto;
							padding-right: 0;

							.listTitle {
								padding-left: 0;
								margin-bottom: 17px;
							}
						}
					}

					&:nth-child(3) {
						margin-top: auto;
					}

					&:nth-child(4) {
						margin-top: auto;
					}

					&:nth-child(5) {
						margin-top: auto;
					}

					&:nth-child(6) {
						margin-top: auto;
					}

					&:nth-child(n + 2) {
						margin-top: 90px !important;
					}
				}
			}
		}
	}
}
/* info
-------------------------------------------------------------------------------------------------------------------- */

#info {
	background-image: url('../img/bg_info.png');
	position: relative;
	padding: rem(250) 0 rem(230);
	> .container {
		width: rem(2200);
		margin: 0 auto;
		display: flex;
		align-items: flex-start;
		> .title {
			width: rem(1440);
			position: absolute;
			top: -9%;
			left: 50%;
			transform: translateX(-51%);
		}
		> .content {
			width: 100%;
			display: flex;
			> .content_list01 {
				width: 50%;
				& img {
					width: rem(1040);
				}
				& .title {
					font-size: rem(42);
					color: #ffffff;
					background-color: #f46d5c;
					display: inline-flex;
					align-items: center;
					justify-content: center;
					width: rem(270);
					height: rem(70);
					margin: rem(60) 0 0;
					border-radius: 20px;
					font-weight: 500;
					line-height: 1;
					position: relative;
					z-index: 2;
					&::after {
						content: '';
						position: absolute;
						width: rem(1040);
						height: 1px;
						background-color: #f46d5c;
						left: 0;
						top: 50%;
						transform: translateY(-50%);
						z-index: -1;
					}
				}
				& .text {
					@include webfont-ja01;
					font-size: rem(32);
					margin: rem(20) 0 0;
				}
				> .tel {
					width: rem(1040);
					height: rem(160);
					background-color: #f46d5c;
					margin: rem(60) 0 0;
					border-radius: 5px;
					display: flex;
					justify-content: space-between;
					align-items: center;
					.tel_list01 {
						width: 43.3%;
						color: #fff;
						font-size: rem(44);
						display: flex;
						align-items: center;
						justify-content: center;
					}
					.tel_list02 {
						width: rem(680);
						height: rem(140);
						background-color: #ffffff;
						margin: 0 rem(10) 0 0;
						display: flex;
						align-items: center;
						justify-content: center;
						& p {
							@include webfont-en01;
							color: #f46d5c;
							white-space: nowrap;
							margin-left: rem(17);
							&:nth-child(1) {
								font-size: rem(50);
							}
							&:nth-child(2) {
								font-size: rem(80);
							}
						}
					}
				}
			}
			> .content_list02 {
				width: 50%;
				& iframe {
					margin: 0 0 0 rem(60);
					width: rem(1040);
					height: rem(1020);
				}
			}
		}
	}

	@include sp {
		margin-bottom: 168px;

		> .container {
			width: 750px;
			display: block;

			> .main {
				border-width: 45px 45px 49px;
				padding: 61px 73px 73px;

				> .box {
					display: block;
					position: relative;
					padding-bottom: 90px;

					> .title {
						margin-bottom: 46px;
						text-align: center;

						p {
							position: absolute;
							left: 0;
							bottom: 0;
							line-height: 0;
							width: 100%;

							a {
								display: inline-block;
								width: 236px;
								height: 58px;
								margin: 0;
								font-size: 26px;
								line-height: 58px;
								padding-left: 0;
								padding-right: 36px;

								&:after {
									content: '';
									display: block;
									position: absolute;
									right: 33px;
									top: 50%;
									margin-top: -8px;
									border: 8px solid #fff;
									border-width: 8px 0 8px 8px;
									border-color: transparent transparent transparent #fff;
								}
							}
						}
					}

					> .feed {
						width: 100%;
						padding-right: 30px;
						max-height: 480px;

						dl dd + dt {
							margin-top: 22px;
						}

						.os-scrollbar-vertical {
							width: 6px;
							right: 0;
							top: 6px;
							bottom: 6px;
						}
					}

					&.blog {
						margin-top: 135px;

						&:before {
							left: -7px;
							right: -8px;
							top: -66px;
							height: 2px;
						}

						.btn {
							width: 390px;
							@include webfont-en01;
							font-size: 26px;
							font-weight: 400;
							color: #000;
							text-decoration: none;
							margin: 70px auto 80px;
							display: flex;
							justify-content: flex-end;
							align-items: center;

							.circle {
								width: 84px;
								height: 84px;
								margin-left: 40px;
								background-size: 14px auto;

								> .border {
									&:before {
										border-width: 2px;
									}
								}
							}

							&:hover {
								.circle {
									&:after {
										background: #e74c3c;
										-webkit-transform: rotate(0deg);
										transform: rotate(0deg);
										-webkit-transform-origin: 0% 0%;
										transform-origin: 0% 0%;
										-webkit-animation: rotateLeft 1s linear;
										animation: rotateLeft 1s linear;
									}

									@-webkit-keyframes rotateLeft {
										0% {
											-webkit-transform: rotate(0deg);
											transform: rotate(0deg);
										}
										100% {
											-webkit-transform: rotate(360deg);
											transform: rotate(360deg);
										}
									}
								}
							}
						}
					}
				}
			}

			> .sub {
				width: auto;
				margin: 79px 0 0;

				.calendar {
					width: 560px;
					margin: 0 auto;

					.listTab {
						border-bottom: 9px solid #22ac38;

						li {
							flex: 0 1 50%;

							a {
								height: 66px;
								line-height: 66px;
								font-size: 28px;
							}
						}
					}

					.calendarIn {
						margin-top: 2px;

						.boxContents table {
							thead th,
							tbody td {
								font-size: 28px;
								height: 70px;
							}
						}
					}

					~ p {
						width: 560px;
						margin: 20px auto 0;
						font-size: 26px;

						span.close {
							width: 40px;
							height: 24px;
							margin-right: 17px;
							vertical-align: -0.05em;
						}
					}
				}
			}
		}
	}
}
/* form
-------------------------------------------------------------------------------------------------------------------- */
#form {
	position: relative;
	> .container {
		width: rem(2200);
		margin: 0 auto;
		> .title {
			position: absolute;
			width: rem(1027);
			left: 50%;
			top: -35%;
			transform: translate(-50%, 5%);
			::before {
				@include deco;
				width: rem(2939);
				height: rem(288);
				@include bgi('../img/img_form_deco01.png');
				top: 0;
				left: -95%;
				z-index: 1;
			}
			::after {
				@include deco;
				width: rem(3250);
				height: rem(1566);
				@include bgi('../img/img_form_deco02.png');
				top: 100%;
				left: -115%;
				z-index: 1;
			}
		}
		> .form {
			margin: rem(414) 0 0;
			width: 100%;
			border: rem(2) solid #f46d5c;
			.list_01,
			.list_02,
			.list_03,
			.list_04,
			.list_05 {
				& label {
					display: flex;
					align-items: center;
					justify-content: space-between;
				}
			}
			.list_06 {
				height: rem(474);
				& label {
					height: 100%;
					padding: rem(39) rem(55) 0;
				}
				& textarea {
					width: 73%;
					height: 100%;
					border: rem(2) solid #f46d5c;
					font-size: rem(32);
					padding: rem(39) rem(55) 0;
					resize: none;
				}
				& textarea:focus {
					outline: none;
				}
			}
			> div {
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				& input {
					width: 73%;
					height: rem(134);
					padding: 0 rem(60);
					font-size: rem(32);
					border: rem(2) solid #f46d5c;
					background-color: #ffffff;
				}
				& input:focus {
					outline: none;
				}
				& label {
					width: 27%;
					color: #f46d5c;
					font-size: rem(32);
					height: rem(134);
					border: rem(2) solid #f46d5c;
					background-color: #ffe5e0;
					padding: 0 rem(55) 0;
					& span {
						color: #ffffff;
						background-color: #f46d5c;
						font-size: rem(30);
						line-height: 1;
						padding: rem(11) rem(25);
					}
				}
			}
			.radio-list {
				width: 73%;
				height: rem(134);
				padding: 0 rem(60);
				// font-size: rem(32);
				border: rem(2) solid #f46d5c;
				background-color: #ffffff;
				display: flex;
				align-items: center;
				.radio-input {
					width: rem(40);
					height: rem(40);
					margin: 0 rem(20) 0 0;
					background-color: #e1e1e1;
				}
				.radio-label {
					@include webfont-ja01;
					background-color: transparent;
					border: none;
					padding: 0;
					font-size: rem(32);
					color: #000000;
					width: auto;
					margin: 0 rem(100) 0 0;
				}
			}
		}
		> .btn_form {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: rem(140) 0;
			& button {
				width: rem(600);
				height: rem(140);
				background-color: #f46d5c;
				border: none;
				font-size: rem(44);
				color: #ffffff;
				cursor: pointer;
				position: relative;
				transition: all 0.25s;
				overflow: hidden;
			}
			& button::after {
				content: '';
				position: absolute;
				z-index: 1;
				height: 0;
				left: 50%;
				top: 50%;
				width: 0;
				border-radius: 25px;
				transition: all 0.25s;
			}
			& button:hover {
				color: #ffffff;
			}
			& button:hover::after {
				animation: hoverBtn 0.45s forwards;
			}
			@keyframes hoverBtn {
				100% {
					opacity: 0.1;
					background-color: #fff;
					height: 100%;
					left: 0;
					top: 0;
					width: 100%;
					transform: scale(1.2);
				}
			}
		}
	}
}

/* footer
-------------------------------------------------------------------------------------------------------------------- */
#footer {
	margin: rem(20) 0 rem(71);
	> .container {
		width: rem(2240);
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		> .logo_footer {
			display: flex;
			align-items: center;
			& span {
				&:nth-child(1) {
					width: rem(110);
					margin: 0 0 0 rem(20);
				}
				&:nth-child(2) {
					width: rem(567);
					margin: 0 0 0 rem(22);
				}
			}
		}
		> .copyright {
			@include webfont-en01;
			font-size: rem(30);
			color: #e96b04;
			margin: 0 rem(15) 0 0;
		}
	}
}
